* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "TwCenMT";
    src: url("../fonts/TwCenMT.ttf") 
}

@font-face {
    font-family: "TheHumble";
    src: url("../fonts/TheHumble.ttf") 
}

:root {
    --fz-14: 14px;
    --fz-16: 16px;
    --fz-18: 18px;
    --fz-24: 24px;
    --fz-32: 32px;
}

body {
    background-color: #c6e4f6;
}

.container {
    /* max-width: 360px; */
    width: 100%;
    /* height: auto; */
    margin: 0 auto;
    font-family: TwCenMT;
    color: #282c63;
    padding-bottom: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.content-img {
    width: 90px;
    position: relative;
    overflow: hidden;
}

.img-header {
    width: 90px;
    position: absolute;
}

.img-header.left {
    left: -20px;
    top: -16px;
}

.img-header.right {
    right: -12px;
    top: -28px;
}

.text {
    margin-top: 20px;
}

.text-sub {
    font-size: var(--fz-18);
}

.text-title {
    font-family: TheHumble;
    font-size: var(--fz-32);
    padding-top: 8px;
}


.angelito {
    margin-top: 20px;
}

.angelito img {
    width: 290px;
    display: block;
    margin: 0 auto;
}

.personas {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: var(--fz-14);
    margin-top: -30px;
}

.padres-title {
    font-family: TheHumble;
}

.fecha {
    margin-top: 15px;
    position: relative;
}

.fecha-text {
    text-align: center;
    font-size: var(--fz-16);
    position: absolute;
    top: 10px;
    left: 30%;
}

.fecha-text p span {
    font-size: var(--fz-18);
}

.misa {
    margin-top: 10px;
    text-align: center;
    font-size: var(--fz-14);
}

.misa a {
    text-decoration: none;
    color: #282c63;
}

.footer {
    margin-top: 20px;
    border-top: 2px solid #282c63;
    text-align: center;
}

.espera {
    margin-top: 10px;
    font-family: TheHumble;
    font-size: var(--fz-24);
}

.footer img {
    width: 15px;
}

.recepcion {
    text-decoration: none;
    color: #282c63;
}

.rotar-ala-izq {
    transform-origin: left;
    animation: rotate-izq 2s 3s infinite;
    transform-box: fill-box;
}

.rotar-ala-der {
    transform-origin: right;
    animation: rotate-der 2s 3s infinite;
    transform-box: fill-box;
}

.mover-nube {
    transform-origin: center;
    animation: nube 3.5s ease-in-out infinite alternate;
    transform-box: view-box;
}

.mover-areola {
    transform-origin: center;
    animation: areola 3.5s ease-in-out infinite alternate;
    transform-box: view-box;
}

@media (min-width: 700px) {
    .personas, .misa {
        --fz-14: 18px;
    }
    .fecha-text {
        --fz-16: 20px;
    }
    .text-sub, .fecha-text p span {
        --fz-18: 22px;
    }
    .espera {
        --fz-24: 28px;
    }
    .text-title {
        --fz-32: 36px;
    }
    .img-header {
        width: 112%;
    }
}

@media (min-width: 1000px) {
    .personas, .misa {
        --fz-14: 20px;
    }
    .fecha-text {
        --fz-16: 22px;
    }
    .text-sub, .fecha-text p span {
        --fz-18: 24px;
    }
    .espera {
        --fz-24: 30px;
    }
    .text-title {
        --fz-32: 38px;
    }
}

@keyframes areola {
   from {
        transform: rotate(-10deg);
    }
    to {
        transform: rotate(10deg);
    }
}

@keyframes nube {
   from {
        transform: translateX(-8px);
    }
    to {
        transform: translateX(8px);
    }
}

@keyframes rotate-der {
    0%{
        transform: skew(0);
    }
    50%{
        transform: skew(-10deg, -10deg);
    }
}

@keyframes rotate-izq {
    0%{
        transform: skew(0);
    }
    50%{
        transform: skew(10deg, 10deg);
    }
}